body {
    background: rgb(122, 145, 159);
}

p {
    width: 16%;
    border: 2px solid gray;
    margin-left: 5px;
    text-align: center;
    padding: 5px;
}

.tog {
    width: 16%;
    border: 2px solid gray;
    margin-left: 5px;
    text-align: center;
    padding: 5px;
}