/* indique au navigateur de prendre en compte la bordure et le remplissage dans la valeur définie pour la largeur et la hauteur.  */

* {
    box-sizing: border-box;
}  

/* c'est l'ensemble de la page */
body {
    background-image: url(../img/concrete-texture.png);
    background-color: rgb(177, 175, 175);
    font-size: 1em;
    text-align: center;
}
/* c'est ce qui délimite les éléments de la page */
#conteneur {
    width: 75%; 
    /* width: 1000px; */
    margin: 0 auto;
    /* border: 1px #fff solid; */
    border: 1px solid black;
    margin-top: 20px;
    box-shadow: 10px 10px 12px rgb(131, 128, 128);
}
/* c'est l'en-tête de la page */
header {
    background-color: #464159;
    /* width: 1000px; */
    /* width: 50%; */
    height: 300px;
    min-height: 270px;
}
/* c'est le menu navigation de la page */
nav {
    background-color: #d00740;
    height: 50px;
    width: 100%;
    color: dimgray;
    text-align: center;
}

nav ul {
    /* pour être certain de ne pas avoir de puces dans cette ul  */
    list-style-type: none;
    font-family: 'Cormorant Garamond', serif;
} 
/* pour pointer les li qui sont dans la balise nav */
nav, li {
    display: inline;
}
nav li a {
    color: rgb(118, 110, 110);
    background-color: rgb(216, 212, 212);
    text-align: center;
    padding: 6px;
    margin: 20px;
    text-decoration: none;
    border-radius: 5px ;
}
/* le lien au survol de la souris */
nav li a:hover {
    color: rgb(70, 33, 33);
    background-color: rgba(222, 197, 197, 0.618);
}
/* le lien clic de la souris, séléctionné */
nav li a:active {
    background-color: rgb(84, 42, 34);
}
/* le lien visité */
nav li a:visited {
    background-color: rgb(231, 233, 238);
}
/* c'est le milieu ou le centre du document */
/* .main {
    background: #8ac6d1;
    width: 100%;
    padding: 10px 10px 10px 10px;
} */

h1 {
    font-size: 1em;
    text-align: center;
}

h2 {
    font-size: 1em;
    text-align: left;
}

h3 {
    font-size: 1em;
    text-align: center;
    padding-top: 30px;
}

h4 {
    font-size: 1em;
    text-align: right;
}

h5 {
    font-size: 1em;
    text-align: center;
}

h6 {
    font-size: 1em;
    text-align: center;
}

.class1 {
    background-color: #d00740;
    height: 50px;
    width: 250px;
}

.class2 {

    background-color: aqua;
    height: 50px;
    width: 500px;
}

.class3 {
    background: url(../img/icon-facebook.png) no-repeat;
    background-color: darkgrey;
    height: 50px;
    width: 250px;
}

.class4 {
    background-color: #5b07d0;
    height: 50px;
    width: 250px;
}

.class5 {
    background-color: rgb(87, 86, 109);
    height: 50px;
    width: 500px;
}

.class6 {
    background-color: rgb(97, 37, 37);
    height: 50px;
    width: 250px;
}

.sous_section1, .sous_section2, .sous_section3, .sous_section4, .sous_section5, .sous_section6 .sous_section7, .sous_section8  {
    min-height: 400px;
    width: 100%;
    height: 400px;
    float: left; 
    border: solid 2px gray; 
}

.sous_section1 {
    background-color: darkgray;
    float: left;
    width: 50%;
}

.sous_section2 {
    background: url(../img/gant-boxe-2.png)no-repeat;
    background-color: rgb(111, 75, 75);
    float: left;
    width: 50%;
}

.zone2 {
    height: 400px;
    min-height: 400px;
}

.sous_section3 {
    background: url(../img/header-page-catalogue.png)no-repeat;
    background-color: rgb(60, 70, 162);
    float: left;
    color: rgb(230, 226, 226);
    font-size: 20px;
    font-family: fantasy;
}

.sous_section4 {
    background: url(../img/gant-boxe-2.png) no-repeat;
    background-color: rgb(176, 181, 86);
    float: left;
}

.sous_section5 {
    
    background-color: rgb(72, 33, 111);
    float: left;
}

.sous_section6 {
    background-color: rgb(220, 120, 14);
    height: 400px;
    min-height: 400px;
    float: left;
    width: 40%;
}

.sous_section7 {
    background-color: rgb(13, 81, 208);
    float: left;
    min-height: 400px;
    width: 60%;
}

.sous_section8 {
    background-color: rgb(121, 117, 113);
    float: left;
}

/* ce sont les différentes zones */
.GZone1, .GZone2, .GZone3, .GZone4 .GZone5, .GZone6 {
    min-height: 150px;
    width: 50%;
    float: left; 
    border: solid 2px gray; 
}
.GZone1, .GZone4 {
    background-color: #426aeb;
}

.GZone2, .GZone3 {
    background-color: #612a05;
}

.GZone5, .GZone6 {
    background-color: #3db4c9;
}

.zone1 {
    background: url(../img/dolomites-italie.jpg) no-repeat;
    background-size: cover;      
} 

.zone2{
    background: url(../img/alincoln.jpg) no-repeat;
    background-size: cover;
} 

.zone12 {
    background: url(../img/image.jpg) no-repeat;
    background-size: cover;
}  

.zone1, .zone2, .zone3, .zone4, .zone5, .zone6, .zone7, .zone8, .zone9, .zone10, .zone11, .zone12, .zone13, .zone14, .zone15, .zone16 {
    width: 50%;
    min-height: 75px ;
    border: solid 1px #fff;
    float: left;  
}

.zone1, .zone2, .zone3, .zone4 {
    background-color: #594a4e;
}

.zone5, .zone6, .zone7, .zone8 {
    background-color: #e6a157;
}

.zone9, .zone10, .zone11, .zone12 {
    background-color: darkmagenta;
}

.zone13, .zone14, .zone15, .zone16  {
    background-color: #6c7b95;
}

.milieu p {
    padding: 20px;
}

a {
    background-color: darkorange;
}

p {
    padding-top: 190px;
    /* overflow: hidden; */
}

.texte {
    padding-top: 150px;
    padding-left: 500px;
    font-family: fantasy;
    /* width: 50%; */
}

/* c'est le bas de la page */
footer {
    background-color: #e9bc79;
    min-height: 270px;
}


.class7 {
    background-color: #d00740;
    height: 50px;
    width: 250px;
}

.class8 {
    background-color: aqua;
    height: 50px;
    width: 500px;
}

.class9 {
    background-color: darkgrey;
    height: 50px;
    width: 250px;
}

.class10 {
    background-color: #5b07d0;
    height: 50px;
    width: 250px;
}

.class11 {
    background-color: rgb(87, 86, 109);
    height: 50px;
    width: 500px;
}

.class12 {
    background-color: rgb(97, 37, 37);
    height: 50px;
    width: 250px;
}

.bas {
    /* texte en italique */
    font-style: italic;
    display : flex;
    justify-content: space-around;
}
    
.rectangle{
	width:400px;
	height:200px;
	background:#069;
}

.rond{
	width:200px;
	height:200px;
	background:#069;
	-webkit-border-radius:100px;
	-moz-border-radius:100px;
	-o-border-radius:100px;
	border-radius:100px;
}
    
.ovale {
	width: 300px;
	height: 200px;
	background: #069;
	border-top-left-radius: 150px 100px;
	border-top-right-radius: 150px 100px;
	border-bottom-right-radius: 150px 100px;
	border-bottom-left-radius: 150px 100px;
}
    
.carre{
	width:200px;
	height:200px;
	background:#069;
}
            
.etoile{
	background:#000;
	margin:100px auto;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #069;
	position: relative;
}

/* évite les flottements à gauche et à droite. */
.clear {
    clear: both;
}